{# fb_search/templates/search-results.html.twig #}
{{ attach_library('fb_search/fb-search-attachments') }}
{{ attach_library('fb_search/bootstrap4') }}
{{ form }}

<!--<h1>Freedmen's Bureau Record Search:</h1>-->
<script>console.log({{ response.results | json_encode | raw }});</script>
{% if response.navigation.record_count > 0 %}
  <div class="mb-3">{{response.navigation.record_count}} results found</div>
{% endif %}
{% if response.navigation.record_count > response.navigation.rows_per_page %}
<div>
{% if response.navigation.current_page < 5 %}
  {% if response.navigation.current_page > 0 %}
    <a class="mx-1 fb-nav-link" href="{{ response.navigation.url_prefix }}0">First</a>
    <a class="mx-1 fb-nav-link" href="{{response.navigation.url_prefix}}{{response.navigation.current_page - 1}}">Prev</a>
  {% endif %}
  {% if response.navigation.page_count - 1 < 8 %}
    {% for i in range(0, response.navigation.page_count - 1) %}
      {% if i == response.navigation.current_page %}
        <span class="mx-1">{{i + 1}}</span>
      {% else %}
        <a class="mx-1 fb-nav-link" href="{{response.navigation.url_prefix}}{{i}}">{{ i + 1 }}</a>
      {% endif %}
    {% endfor %}
  {% else %}
    {% for i in range(0, 8) %}
      {% if i == response.navigation.current_page %}
        <span class="mx-1">{{i + 1}}</span>
      {% else %}
        <a class="mx-1 fb-nav-link" href="{{response.navigation.url_prefix}}{{i}}">{{ i + 1 }}</a>
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if response.navigation.current_page < (response.navigation.page_count - 1) %}
    <a class="mx-1 fb-nav-link" href="{{response.navigation.url_prefix}}{{response.navigation.current_page + 1}}">Next</a>
    <a class="mx-1 fb-nav-link" href="{{response.navigation.url_prefix}}{{ response.navigation.page_count - 1 }}">Last</a>
  {% endif %}
{% elseif response.navigation.current_page > response.navigation.page_count - 5 %}
  <a class="mx-1 fb-nav-link" href="{{response.navigation.url_prefix}}0">First</a>
  <a class="mx-1 fb-nav-link" href="{{response.navigation.url_prefix}}{{response.navigation.current_page - 1}}">Prev</a>
  {% for i in range(response.navigation.page_count - 9, response.navigation.page_count - 1) %}
    {% if i == response.navigation.current_page %}
      <span class="mx-1">{{i + 1}}</span>
    {% else %}
      <a class="mx-1 fb-nav-link" href="{{response.navigation.url_prefix}}{{i}}">{{ i + 1 }}</a>
    {% endif %}
  {% endfor %}
  {% if response.navigation.current_page < (response.navigation.page_count - 1) %}
    <a class="mx-1 fb-nav-link" href="{{response.navigation.url_prefix}}{{response.navigation.current_page + 1}}">Next</a>
    <a class="mx-1 fb-nav-link" href="{{response.navigation.url_prefix}}{{ response.navigation.page_count - 1 }}">Last</a>
  {% endif %}
{% else %}
  <a class="mx-1 fb-nav-link" href="{{response.navigation.url_prefix}}0">First</a>
  <a class="mx-1 fb-nav-link" href="{{response.navigation.url_prefix}}{{response.navigation.current_page - 1}}">Prev</a>
  {% for i in range(response.navigation.current_page - 4, response.navigation.current_page + 4) %}
    {% if i == response.navigation.current_page %}
      <span class="mx-1">{{i + 1}}</span>
    {% else %}
      <a class="mx-1 fb-nav-link" href="{{response.navigation.url_prefix}}{{i}}">{{ i + 1 }}</a>
    {% endif %}
  {% endfor %}
  {% if response.navigation.current_page < (response.navigation.page_count - 1) %}
    <a class="mx-1 fb-nav-link" href="{{response.navigation.url_prefix}}{{response.navigation.current_page + 1}}">Next</a>
    <a class="mx-1 fb-nav-link" href="{{response.navigation.url_prefix}}{{ response.navigation.page_count - 1 }}">Last</a>
  {% endif %}
{% endif %}
</div>
{% endif %}

{% if response.navigation.record_count > 0 %}
<ul class="list-group">
    {% for row in response.results  %}
      <li class="list-group-item list-group-item-light my-2 border rounded">
        <div class="mb-3">
          {% if row.content.image_title %}
            <a href="/fb-object/{{row.id}}" title="{{row.content.image_title}}">{{ row.content.image_title|length > 100 ? row.content.image_title|slice(0, 100) ~ '...' : row.content.image_title  }}</a>
          {% else %}
            <a href="/fb-object/{{row.id}}">{{row.title}}</a>
          {% endif %}
          <span class="float-right">{{ row.lastTimeUpdated|date("F jS \\a\\t g:ia") }}</span>
        </div>
        <img src="{{row.content.media.thumbnail}}"/>

      </li>
    {% endfor %}
</ul>
{% else %}
  <p>No results found</p>
{% endif %}

{% if response.navigation.record_count > response.navigation.rows_per_page %}
<div>
{% if response.navigation.current_page < 5 %}
  {% if response.navigation.current_page > 0 %}
    <a class="mx-1 fb-nav-link" href="{{response.navigation.url_prefix}}0">First</a>
    <a class="mx-1 fb-nav-link" href="{{response.navigation.url_prefix}}{{response.navigation.current_page - 1}}">Prev</a>
  {% endif %}
  {% if response.navigation.page_count - 1 < 8 %}
    {% for i in range(0, response.navigation.page_count - 1) %}
      {% if i == response.navigation.current_page %}
        <span class="mx-1">{{i + 1}}</span>
      {% else %}
        <a class="mx-1 fb-nav-link" href="{{response.navigation.url_prefix}}{{i}}">{{ i + 1 }}</a>
      {% endif %}
    {% endfor %}
  {% else %}
    {% for i in range(0, 8) %}
      {% if i == response.navigation.current_page %}
        <span class="mx-1">{{i + 1}}</span>
      {% else %}
        <a class="mx-1 fb-nav-link" href="{{response.navigation.url_prefix}}{{i}}">{{ i + 1 }}</a>
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if response.navigation.current_page < (response.navigation.page_count - 1) %}
    <a class="mx-1 fb-nav-link" href="{{response.navigation.url_prefix}}{{response.navigation.current_page + 1}}">Next</a>
    <a class="mx-1 fb-nav-link" href="{{response.navigation.url_prefix}}{{ response.navigation.page_count - 1 }}">Last</a>
  {% endif %}
{% elseif response.navigation.current_page > response.navigation.page_count - 5 %}
  <a class="mx-1 fb-nav-link" href="{{response.navigation.url_prefix}}0">First</a>
  <a class="mx-1 fb-nav-link" href="{{response.navigation.url_prefix}}{{response.navigation.current_page - 1}}">Prev</a>
  {% for i in range(response.navigation.page_count - 9, response.navigation.page_count - 1) %}
    {% if i == response.navigation.current_page %}
      <span class="mx-1">{{i + 1}}</span>
    {% else %}
      <a class="mx-1 fb-nav-link" href="{{response.navigation.url_prefix}}{{i}}">{{ i + 1 }}</a>
    {% endif %}
  {% endfor %}
  {% if response.navigation.current_page < (response.navigation.page_count - 1) %}
    <a class="mx-1 fb-nav-link" href="{{response.navigation.url_prefix}}{{response.navigation.current_page + 1}}">Next</a>
    <a class="mx-1 fb-nav-link" href="{{response.navigation.url_prefix}}{{ response.navigation.page_count - 1 }}">Last</a>
  {% endif %}
{% else %}
  <a class="mx-1 fb-nav-link" href="{{response.navigation.url_prefix}}0">First</a>
  <a class="mx-1 fb-nav-link" href="{{response.navigation.url_prefix}}{{response.navigation.current_page - 1}}">Prev</a>
  {% for i in range(response.navigation.current_page - 4, response.navigation.current_page + 4) %}
    {% if i == response.navigation.current_page %}
      <span class="mx-1">{{i + 1}}</span>
    {% else %}
      <a class="mx-1 fb-nav-link" href="{{response.navigation.url_prefix}}{{i}}">{{ i + 1 }}</a>
    {% endif %}
  {% endfor %}
  {% if response.navigation.current_page < (response.navigation.page_count - 1) %}
    <a class="mx-1 fb-nav-link" href="{{response.navigation.url_prefix}}{{response.navigation.current_page + 1}}">Next</a>
    <a class="mx-1 fb-nav-link" href="{{response.navigation.url_prefix}}{{ response.navigation.page_count - 1 }}">Last</a>
  {% endif %}
{% endif %}
</div>
{% endif %}
